<div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>



<div class="login-form">
    <h1 *ngIf="error">{{error}}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
                Email is required and must be a valid email address
            </div>
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                Password is required
            </div>
        </div>
        <div class="buttons">

            <button type="submit">Login</button>
            <button routerLink="/account/register">Register</button>
        </div>
    </form>
</div>