body {
  padding: 40px 20px 40px 20px;
  background-color: #232323;
}

#toolbar {
  background-color: #1a1a1a;
  color: #ff9900;
  border-bottom: 2px solid #ff9900;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  #left-items {
    flex: 1;
    .app-name {
      font-size: 24px;
    }
  }

  #right-items {
    display: flex;
    align-items: center;

    button {
      color: #ff9900;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: rgba(255, 153, 0, 0.1);
      }
    }

    mat-icon {
      color: #ff9900;
    }

    .search-form {
      display: inline-block;
      max-width: 450px;
      width: 100%;
      margin-left: 15px;
    }

    .search-input {
      width: 300px;
      height: 30px;
      padding: 3px 10px;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
}
