<mat-toolbar color="primary" id="toolbar">
    <div id="left-items">
        <span class="app-name"><a [routerLink]="['/']">Sep 6 movies portal</a></span>
        <button *ngIf="currentUser" mat-button [routerLink]="['/toplists']">Toplists</button>

    </div>
    <div id="right-items">

        <form class="search-form" *ngIf="showSearch" (submit)="onSubmit(searchValue.value)">
            <input matInput #searchValue placeholder="Search" autofocus class="search-input">
        </form>
        <button mat-icon-button aria-label="Search" (click)="showSearch = !showSearch">
            <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="!currentUser" mat-button [routerLink]="['/account/logon']">Login</button>
        <button *ngIf="currentUser" mat-button [routerLink]="['/account/profile']">{{currentUser.email}}</button>
    </div>
</mat-toolbar>

<body>

    <router-outlet></router-outlet>
</body>